{% extends "base.html" %}

{% block title %} Page principale {% endblock %}

{% block content %}
<div style="height:500px" class="d-flex flex-column justify-content-around m-5 p-5">
    <div>
        <h1>{{film.title}}</h1>
        <dl class="list-group w-50">
            <dt class="mt-3 mb-1">Description</dt>
            <dd class="list-group-item bg-primary-subtle">{{film.description}}</dd>
            <dt class="mt-3 mb-1">Réalisateurs</dt>
            <dd class="list-group-item bg-primary-subtle">{% for director in film.directors %}{{director.name}}<br>{% endfor %}</dd>
            <dt class="mt-3 mb-1">Acteurs</dt>
            <dd class="list-group-item bg-primary-subtle">{% for actor in film.actors %}{{actor.name}}<br>{% endfor %}</dd>
        </dl>
    </div>
</div>
{% endblock %}