{% macro beforeHeartBoxRendering() %}
<style>
    .large-font{
        font-size:x-large;
      }
      ion-icon.active{
        animation:like 0.5s 1;
        fill: lightskyblue;
        stroke:none;
      }
      ion-icon{
        fill:transparent;
        stroke:black;
        stroke-width:30;
        transition:all 0.5s;
      }
      
      @-webkit-keyframes like {
        0%   { transform: scale(1); }
        90%   { transform: scale(1.2); }
        100% { transform: scale(1.1); }
      }
</style>
<script>
    function activeHeart(id, iduser){
        let icon = document.getElementById(id);

        icon.classList.toggle('active');
        fetch(`http://localhost:5000/addFavoriteFilm`,{
            method: 'POST',
            body: JSON.stringify({
              iduser: iduser,
              uri: id
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8",
              }
        })
        .then(res => console.log(res))
        .catch(err => console.log(err));
    }
</script>
{% endmacro %}
{% macro heartCheckBox(id, iduser) %}
<div class='large-font text-center'>
    <ion-icon id="{{id}}" name="heart" onclick="activeHeart('{{id}}','{{iduser}}')">
        <div class='bg-primary'></div>
    </ion-icon>
</div>
{% endmacro %}